---
import Layout from "../layouts/Layout.astro";
import global from "../styles/global.css";
---

<Layout>
  <div class="hero-video">
    <video id="heroVideo" autoplay muted loop playsinline>
      <source src="/hero_video.mp4" type="video/mp4" />
    </video>
    <section class="hero-info">
      <h1>Velkommen til Konaktepe Nails & Beauty</h1>
      <div class="hero-cta">
        <a class="btn primary" href="https://konaktepebeauty.onlinebooq.dk/" target="_blank" class="cta">Book tid</a>
        <a class="btn secondary" href="/" class="cta secondary">Priser</a>
      </div>
    </section>
    <!-- stat/stop cta -->
    <button id="videoToggle" class="video-toggle" aria-label="Pause video"> ❚❚ </button>
  </div>
  <!-- om konaktepenails -->
  <section class="om">
    <div class="om-grid">
      <div class="tekst">
        <h2>Om Konaktepenails</h2>
        <p>Velkommen til - her er nærvær og kvalitet i centrum.</p>
        <p>Hos mig handler det ikke kun om smukke negle - det handler om at få dig til at føle dig selvsikker, elegant og forkælet.</p>
        <p>Jeg glæder mig til at tage mig af dig og give dig en oplevelse, der både mærkes og ses.</p>

        <a class="cta" href="https://konaktepebeauty.onlinebooq.dk/" target="_blank">Book tid</a>
      </div>

      <div class="billede">
        <img src="om.webp" alt="Konaktepenails - om mig" />
      </div>
    </div>
  </section>

  <!-- priser -->
  <section class="priser">
    <h2>Priser på behandlinger</h2>
    <p>Mest populære</p>
    <div class="liste">
      <div class="række">
        <span>Gelpolish forstærkning på naturneglene <span class="hop-ned">(uden aftagning)</span> </span>
        <span>455,-</span>
      </div>
      <div class="række">
        <span>Gelpolish forstærkning på naturneglene <span class="hop-ned">(inkl. aftagning)</span></span>
        <span>555,-</span>
      </div>
      <div class="række">
        <span>Gelpolish med BIAB forstærkning <span class="hop-ned">(inkl. aftagning)</span></span>
        <span>605,-</span>
      </div>
    </div>
    <div class="cta_priser">
      <a href="/" class="cta">Flere priser</a>
    </div>
  </section>

  <!-- galleri sektion -->
  <section class="galleri">
    <h2>Udtalelser og billeder fra kunder</h2>
    <div class="billede-grid">
      <figure class="billede">
        <img src="/kundebillede1.webp" alt="Negle fra tidligere kunde" />
        <figcaption>"Jeg får lavet negle hos Camilla fordi jeg får de flotteste negle, den bedste kvalitet og den bedste service" <br /> - Gitte</figcaption>
      </figure>
      <figure class="billede">
        <img src="/kundebillede2.webp" alt="Negle fra tidligere kunde" />
        <figcaption>"Jeg kommer hos Camilla fordi hun er den dygtigste. Altid god service, smil, nærvær og omsorg" <br /> - Sofie</figcaption>
      </figure>
      <figure class="billede">
        <img src="/kundebillede3.webp" alt="Negle fra tidligere kunde" />
        <figcaption>"Hos Camilla føler jeg mig altid velkommen. Jeg bliver mødt med en nærhed og hun lytter altid, men samtidig giver råd til, hvad der passer bedst til mig." <br /> - Christine</figcaption>
      </figure>
      <figure class="billede">
        <img src="/kundebillede4.webp" alt="Negle fra tidligere kunde" />
        <figcaption>"Jeg har snart fået lavet negle hos Camilla i 14 år. Jeg går altid tilfreds hjem med super flotte negle på både hænder og fødder" <br /> - Helle</figcaption>
      </figure>
    </div>
    <div class="cta_galleri">
      <a href="" class="cta">Se galleri</a>
    </div>
  </section>

  <!-- teknikker sektion -->
  <section class="teknikker">
    <div class="teknikker-grid">
      <img class="teknikker-img" src="/teknikker.webp" alt="Gelpolish produkter" />

      <div class="teknikker-tekst">
        <h2>Skånsomme, professionelle teknikker</h2>

        <p>
          Vi arbejder med <strong>gelpolish</strong> og <strong>BIAB</strong>, som styrker og beskytter naturneglen - uden lugt eller skadelig kemi.
        </p>

        <ul>
          <li>Holder i 3-4 uger</li>
          <li>Give et smukt, glansfuldt resultat</li>
          <li>Beskytter og forstærker naturneglen</li>
        </ul>
      </div>
    </div>
  </section>
</Layout>

<!-- javascript til at få knappen på hero til at virke -->
<script>
  const video = document.getElementById("heroVideo");
  const button = document.getElementById("videoToggle");

  button.addEventListener("click", () => {
    if (video.paused) {
      video.play();
      button.textContent = "❚❚";
    } else {
      video.pause();
      button.textContent = "▶";
    }
  });
</script>

<style>
  .hero-video {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
  }

  .hero-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* info oven på video */
  .hero-info {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    padding: 1rem;
  }

  .hero-info h1 {
    font-family: "Buenard";
    font-size: clamp(2rem, 4vw, 3.5rem);
    color: white;
    margin-bottom: 2rem;
  }

  /* cta'er */
  .hero-cta {
    display: flex;
    gap: 1.5rem;
  }

  .btn {
    padding: 0.75rem 2.2rem;
    text-decoration: none;
    font-weight: 500;
    border-radius: 1px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    transition:
      background 0.2s ease,
      color 0.2s ease;
  }

  .btn.primary {
    background: #f5eee6;
    color: #3a2a1a;
  }

  .btn.secondary {
    background: #f5eee6;
    color: #3a2a1a;
  }

  .btn:hover {
    background: rgba(57, 39, 29, 1);
    color: #f5eee6;
  }

  /* Play/pause button */
  .video-toggle {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 3;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
  }

  /* om konaktepenails sektion*/
  .om {
    background-color: #d8c8b3;
    padding: 120px 50px;
  }

  .om-grid {
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: stretch;
  }

  .tekst {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
  }
  .tekst p {
    max-width: 420px;
    margin: 20px auto;
  }
  .tekst .cta {
    font-family: "ArchivoNarrowRegular";
    font-weight: bolder;
    margin-top: 50px;
    align-self: center;
    color: #000000;
  }

  .tekst .cta:hover {
    background: rgba(57, 39, 29, 1);
    color: #f5eee6;
  }
  .cta_priser .cta {
    font-family: "ArchivoNarrowRegular";
    font-weight: bolder;
    margin-top: 50px;
    align-self: center;
    color: #000000;
  }
  .cta_priser .cta:hover {
    background: rgba(57, 39, 29, 1);
    color: #f5eee6;
  }
  .cta_galleri .cta {
    font-family: "ArchivoNarrowRegular";
    font-weight: bolder;
    margin-top: 70px;
    color: #000000;
    display: inline-block;
  }

  .cta_galleri .cta:hover {
    background: rgba(57, 39, 29, 1);
    color: #f5eee6;
  }
  .cta_galleri {
    display: flex;
    justify-content: center;
  }

  .cta {
    padding: 0.75rem 2.2rem;
    text-decoration: none;
    border: 1px solid rgba(57, 39, 29, 1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    transition:
      background 0.2s ease,
      color 0.2s ease;
  }

  .billede img {
    width: 100%;
    max-width: 300px;
    display: block;
  }
  .billede {
    justify-self: end;
  }

  /* pris sektion */
  .priser {
    padding: 120px 50px;
    text-align: center;
    font-family: "BuenardRegular";
  }
  .liste {
    max-width: 700px;
    margin: 40px auto;
    border-top: 1px solid black;
  }

  .række {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid black;
    text-align: left;
  }
  .cta_priser {
    margin-top: 5rem;
  }
  /* venstre tekst skal kunne bryde */
  .række span:first-child {
    flex: 1;
  }
  /* højre pris skal blive ude til højre */
  .række span:last-child {
    white-space: nowrap;
    font-weight: 600;
    font-family: "BuenardBold";
  }

  /* galleri sektion */
  .galleri {
    background-color: #d8c8b3;
    padding: 90px 24px;
  }
  .galleri h2 {
    text-align: center;
    padding: 40px;
  }
  .galleri figcaption {
    max-width: 300px;
    font-family: "ArchivoNarrowItalic";
    margin-top: 5px;
  }
  .billede-grid {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px 90px;
  }
  .billede {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .billede img {
    width: 100%;
    max-width: 260px;
    height: auto;
    display: block;
  }

  /* teknikker sektion */
  .teknikker {
    padding: 100px 25px;
  }
  .teknikker-grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    align-items: center;
  }

  .teknikker-img {
    width: 100%;
    max-width: 520px;
  }

  .teknikker-tekst {
    text-align: center;
  }

  .teknikker-tekst h2 {
    line-height: 1.2;
  }
  .teknikker-tekst p {
    margin: 0 auto 18px;
    max-width: 420px;
    line-height: 1.7;
    font-size: 20px;
  }
  .teknikker-tekst ul {
    margin: 0 auto;
    max-width: 390px;
    text-align: left;
  }
  li {
    font-family: "ArchivoNarrowRegular";
  }

  /* mobil version */
  @media (max-width: 768px) {
    /* om sektion */
    .om-grid {
      grid-template-columns: 1fr;
    }
    .billede {
      justify-self: center;
    }

    /* pris sektion */
    .hop-ned {
      display: block;
    }

    /* galleri sektion */
    .billede-grid {
      grid-template-columns: 1fr;
      gap: 50px;
    }

    /* teknik sektion */
    .teknikker-grid {
      display: grid;
      grid-template-columns: 1fr;
    }
    .teknikker-grid img {
      max-width:;
    }
  }
</style>
