---
const { data } = Astro.props;
---

<a class="card" href=`/single/${data.id}`>
  <section>
    <img
      src=`https://yvsqeurljhxwfykzgfyb.supabase.co/storage/v1/object/public/konaktepe_images/${data.image}`
      alt="product image"
    />
    <h2>{data.productname}</h2>
    <p>{data.price},-</p>
  </section>
</a>

<style>
  .card img {
    width: 100%;
    height: auto;
  }

  .card {
    display: block;
    text-decoration: none;
    color: inherit;
    max-width: 260px; /* gør at cards bliver “ens” */
    justify-self: center; /* centrér card i grid-cellen */
  }

  /* section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    transition: transform 0.3s ease;
  } */
  .card:hover {
    transform: scale(1.03);
  }
  .card img:hover {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  h2 {
    font-size: 1rem;
    margin: 0;
  }
  p {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
