---

---

<header class="navbar">
  <div class="nav-left">
    <a href="/">Forside</a>
    <a href="/">Om mig</a>
    <a href="/">Priser</a>
    <a href="/listview">Produkter</a>
  </div>

  <a href="/" class="logo">
    <img src="public/logos/logo-dark.svg" alt="Til forsiden" />
  </a>

  <div class="nav-right">
    <a href="/">Kurser</a>
    <a href="/">FAQ</a>
    <a href="https://konaktepebeauty.onlinebooq.dk/" target="_blank" class="cta">Book tid</a>
  </div>

  <!-- BURGER -->
  <input type="checkbox" id="menu-toggle" />

  <label for="menu-toggle" class="burger">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <!-- BURGER MENU -->
  <nav class="mobile-menu">
    <a href="/">Forside</a>
    <a href="/">Om mig</a>
    <a href="/priser">Priser</a>
    <a href="/listview">Produkter</a>
    <a href="/">Kurser</a>
    <a href="/">FAQ</a>
    <a href="https://konaktepebeauty.onlinebooq.dk/" target="_blank" class="cta">Book tid</a>
  </nav>
</header>

<style>
  .navbar {
    background: rgba(244, 239, 233, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    position: relative;
    font-family: "Buenard";
  }
  .navbar a:hover {
    text-decoration: underline #c8b8a8;
    font-weight: bold;
  }

  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
  }

  .navbar a {
    text-decoration: none;
    color: rgba(57, 39, 29, 1);
    font-size: 1rem;
    margin: 0 1rem;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    display: block;
    height: 60px;
    transition:
      transform 0.3s ease,
      filter 0.3s ease;
    cursor: pointer;
  }

  .logo img:hover {
    transform: scale(1.05);
  }

  .cta {
    padding: 0.5rem 1.2rem;
    border: 1px solid rgba(57, 39, 29, 1);
    line-height: 1;
  }
  a.cta:hover {
    background: rgba(57, 39, 29, 1);
    color: rgba(244, 239, 233, 1);
  }

  /* BURGER */
  #menu-toggle {
    display: none;
  }

  .burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .burger span {
    width: 25px;
    height: 2px;
    background: rgba(57, 39, 29, 1);
  }

  /* BURGER MENU */
  .mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(244, 239, 233, 1);
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 1.5rem;
  }

  /* RESPONSIV */
  @media (max-width: 768px) {
    .nav-left,
    .nav-right {
      display: none;
    }

    .burger {
      display: flex;
    }

    #menu-toggle:checked ~ .mobile-menu {
      display: flex;
    }
  }
</style>
