---
// Importér komponenten ind i layoutet
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---

<!doctype html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="logos/logo-dark.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
<body>
    <Header />

    <main>
   
        <slot />
    </main>


    <Footer />
</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
